<!DOCTYPE html>

<html>
    <head>
            <title>Sample app</title>
            <link rel=stylesheet href=../public/css/style.css>
    </head>
    <body>
            <h1>test</h1>
    </body>
</html>
