<!DOCTYPE html>

<html>
    <head>
            <title>Sample app</title>
            <link rel=stylesheet href=css/style.css>
    </head>
    <body>
            <h1>Thank you for completing the survey</h1>
    </body>
</html>
